node_modules
build
.app*
.env*
.ipfs*
.DS_store
artifacts
cache
typechain
coverage
coverage.json
package-lock.json
__pycache__
*.log
*~
*keysrv_*
data-prepopulate
docker/registry-*
machines/
test-emulator/machines/
out/
broadcast/**
dapp_data_*
tosi-ledger-db
client-db*
client-ipfs-db*
.fetchcache
